#momentum-section {
  width: 100%;
  .inner {
    width: 1400px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
}
